<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                <button type="submit" class="btn btn-primary">登出</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">登入</a>
        </li>
    }
</ul>

